@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="container-fluid w-50 bg-light">
    <nav class="row navbar navbar-expand navbar-light bg-dark">
        <h1 class="text-light text-uppercase">Manage Account</h1>
    </nav>
    <div class="row p-3">
        <div class="col">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
