<div class="container-fluid bg-light pb-1">
    <nav class="row navbar navbar-expand navbar-light bg-dark">
        <h1 class="text-light text-uppercase">Home Page</h1>

        <div class="col" id="navbarColor02">

            <form asp-action="Index" method="get" class="form-inline col">
                <input class="form-control col-8" type="text" name="searchString" placeholder="Enter Project Search Value..." value="@ViewData["GetProjects"]" />
                <div class="btn-group col">
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-light"> Reset</a>
                </div>
            </form>
        </div>
    </nav>
</div>


