@model TaskViewModel

<div class="container-fluid ">
    <nav class="row navbar navbar-expand navbar-light bg-dark justify-content-center">
        <h1 class="text-light text-uppercase ">Home Page</h1>
    </nav>

    <div class="d-flex justify-content-around p-lg-4">
        <div class="card">
            @if (Model.taskCount == 0)
            {
                <div class="container-fluid bg-light">                    
                    <div class="jumbotron-fluid text-center p-3">
                        <h1 class="display-4 font-weight-bold">Make a Task!</h1>
                        <hr class="my-3">
                        <p>It looks like you don't have any tasks created! Let's find a project and make a task in it!</p>
                        <div class="container">
                            @if (Model.projCount == 0)
                            {
                                <a asp-controller="Projects" asp-action="Create" class="btn btn-block btn-success  "><i class="fas fa-plus-square"></i> Create</a>
                            }
                            else
                            {
                                <a asp-controller="Projects" asp-action="Index" class="btn btn-block btn-success  "><i class="fas fa-plus-square"></i> Create</a>
                            }

                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card-header text-center">
                    Total Task Completion Status
                </div>
                <div class="card-body">
                    <canvas id="pieChart"></canvas>
                </div>
            }

        </div>
        <div class="card">
            @if (Model.projCount == 0)
            {
                <div class="container-fluid bg-light">                    
                    <div class="jumbotron-fluid text-center p-3">
                        <h1 class="display-4 font-weight-bold">Make a Project!</h1>
                        <hr class="my-3">
                        <p>It looks like you don't have any projects going on! Let's make one!</p>
                        <div class="container">
                            <a asp-controller="Projects" asp-action="Create" class="btn btn-block btn-success  "><i class="fas fa-plus-square"></i> Create</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card-header text-center">
                    Projects and Tasks
                </div>
                <div class="card-body">
                    <canvas id="barChart"></canvas>
                </div>
            }

        </div>        
    </div>
</div>
<script src="~/lib/Chart.js/chart.js"></script>
@section Scripts{
    <script>
        
        var ctx = document.getElementById("pieChart").getContext('2d');
        ctx.canvas.width = window.innerWidth / 3;
        ctx.canvas.height = ctx.canvas.width;

        var pieChartData = {
            labels: ['Complete', 'Incomplete'],
            datasets: [{
                label: '# of Tasks',
                data: [@Model.tasksCompleted, @Model.tasksUncompleted],
                backgroundColor: [
                    'rgba(0, 182, 66, 0.2)',
                    'rgba(255, 0, 0, 0.2)'
                ],
                hoverBorderWidth: 5,

                borderColor: [
                    'rgba(0, 182, 66, 1)',
                    'rgba(255, 0, 0, 1)'
                ],
                borderWidth: 1,

            }]
        };
        var pieChart = new Chart(ctx, {
            type: 'pie',
            data: pieChartData

        });
    </script>    

    <script >        

        var ctx = document.getElementById("barChart").getContext('2d');
        ctx.canvas.width = window.innerWidth / 3;
        ctx.canvas.height = ctx.canvas.width;
        var barChartData = {
            labels: ['Projects', 'Tasks'],
            datasets: [{
                label: 'Total in Account',
                data: [@Model.projCount, @Model.taskCount],
                backgroundColor: [
                    'rgba(81, 162, 194, 0.2)',
                    'rgba(120, 85, 171, 0.2)'
                ],
                hoverBorderWidth: 5,

                borderColor: [
                    'rgba(81, 162, 194, 1)',
                    'rgba(120, 85, 171, 1)'
                ],
                borderWidth: 1,

            }]
        };
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: barChartData

        });

    </script>
}

