@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}


<div class="container-fluid w-50 bg-light">
    <nav class="row navbar navbar-expand navbar-light bg-dark">
        <h1 id="text-light text-uppercase">Associate your @Model.ProviderDisplayName account.</h1>
    </nav>
    <div class="row p-3">

        <p id="external-login-description" class="text-info">
            You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
            Please enter an email address for this site below and click the Register button to finish
            logging in.
        </p>
    </div>
    <div class="row">
            <div class="w-75 p-3">
                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary w-50">Register</button>
                </form>
            </div>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
